.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.brand(href="/")= title
				.nav-collapse

.container
	.hero-unit
		h1 This is Bundlr
		h2 A super convenient way to Bundle and Shorten URL's together

		a.btn(href='/') Learn More >>